# Python
__pycache__/
*.pyc
venv/

# Uploads
audio_uploads/

# Node
node_modules/
dist/

# Dataset
dataset/
datasets/

# OS
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env

# Vite
.vite/

# VS Code
.vscode/

# Audio
*.wav
*.mp3
*.m4a
*.ogg

# Video
*.mp4
*.avi
*.mov
*.mkv

# Images (optional)
*.png