Flask==3.1.0
Flask-Cors==5.0.0

tensorflow-cpu==2.16.1
keras==3.3.3
h5py==3.11.0

numpy==1.26.4
scipy==1.13.1
pandas==2.2.2

scikit-learn==1.5.1
joblib==1.4.2

opencv-python-headless==4.10.0.84
Pillow==10.4.0

matplotlib==3.9.2
seaborn==0.13.2

librosa==0.10.2.post1
soundfile==0.12.1
audioread==3.0.1
pydub==0.25.1

PyPDF2==3.0.1
Werkzeug==3.0.4
tqdm==4.66.5
